USE [master]
GO
/****** Object:  Database [БД Телестудии]    Script Date: 21.11.2024 23:37:35 ******/
CREATE DATABASE [БД Телестудии]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'БД Телестудии', FILENAME = N'F:\SQLSERVER\MSSQL16.MSSQLSERVER\MSSQL\DATA\БД Телестудии.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'БД Телестудии_log', FILENAME = N'F:\SQLSERVER\MSSQL16.MSSQLSERVER\MSSQL\DATA\БД Телестудии_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [БД Телестудии].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [БД Телестудии]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[ID_Event] [smallint] NOT NULL,
	[ID_Broadcast] [smallint] NOT NULL,
	[ID_Videomaterial] [smallint] NOT NULL,
	[Start_time] [time](7) NOT NULL,
	[Playback_duration] [int] NOT NULL,
	[Transition_type] [varchar](25) NULL,
	[Recording_source] [varchar](35) NULL,
	[Transition_duration] [int] NULL,
	[Delay_duration] [int] NULL,
	[Event_description] [varchar](125) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Event] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EventView]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EventView]
AS
SELECT                      ID_Event, Start_time, Playback_duration, Transition_type, Recording_source, Transition_duration, Delay_duration, Event_description, ID_Broadcast
FROM                         dbo.Event
GO
/****** Object:  Table [dbo].[Category]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID_Category] [smallint] NOT NULL,
	[Title] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Broadcast]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Broadcast](
	[ID_Broadcast] [smallint] NOT NULL,
	[ID_Category] [smallint] NOT NULL,
	[External_Channel] [varchar](45) NOT NULL,
	[Playback_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Broadcast] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Director_BroadcastsPlaybackPlan]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Director_BroadcastsPlaybackPlan]
AS
SELECT DISTINCT 
                                      dbo.Broadcast.ID_Broadcast AS ID, dbo.Category.Title AS Категория, dbo.Broadcast.External_Channel AS [Внешний канал], 
                                      dbo.Broadcast.Playback_date AS [Дата воспроизведения]
FROM                         dbo.Broadcast INNER JOIN
                                      dbo.Category ON dbo.Broadcast.ID_Category = dbo.Category.ID_Category
GO
/****** Object:  Table [dbo].[Videomaterial]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videomaterial](
	[ID_Videomaterial] [smallint] NOT NULL,
	[Idea_description] [varchar](125) NOT NULL,
	[Upload_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Videomaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video_Editing]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video_Editing](
	[ID_Editing] [smallint] NOT NULL,
	[Duration] [int] NOT NULL,
	[Framerate] [smallint] NOT NULL,
	[Author] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Editing] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Videomaterial_Usage]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videomaterial_Usage](
	[ID_Videomaterial] [smallint] NOT NULL,
	[ID_Editing] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Videomaterial] ASC,
	[ID_Editing] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VideoProps]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VideoProps]
AS
SELECT                      dbo.Videomaterial.Idea_description, dbo.Video_Editing.Framerate, dbo.Video_Editing.Author
FROM                         dbo.Videomaterial INNER JOIN
                                      dbo.Videomaterial_Usage ON dbo.Videomaterial.ID_Videomaterial = dbo.Videomaterial_Usage.ID_Videomaterial INNER JOIN
                                      dbo.Video_Editing ON dbo.Videomaterial_Usage.ID_Editing = dbo.Video_Editing.ID_Editing
GO
/****** Object:  View [dbo].[Manager_BroadcastsPlaybackPlan]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Manager_BroadcastsPlaybackPlan]
AS
SELECT                      dbo.Broadcast.ID_Broadcast AS ID, dbo.Category.Title AS Категория, dbo.Broadcast.External_Channel AS [Внешний канал], 
                                      dbo.Broadcast.Playback_date AS [Дата воспроизведения]
FROM                         dbo.Broadcast INNER JOIN
                                      dbo.Category ON dbo.Broadcast.ID_Category = dbo.Category.ID_Category
GO
/****** Object:  View [dbo].[BroadcastsPlaybackPlan]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BroadcastsPlaybackPlan]
AS
SELECT DISTINCT 
                                      dbo.Broadcast.ID_Broadcast AS ID, dbo.Category.Title AS Категория, dbo.Broadcast.External_Channel AS [Внешний канал], 
                                      dbo.Broadcast.Playback_date AS [Дата воспроизведения]
FROM                         dbo.Broadcast INNER JOIN
                                      dbo.Category ON dbo.Broadcast.ID_Category = dbo.Category.ID_Category
GO
/****** Object:  View [dbo].[UsedVideomaterials]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UsedVideomaterials]
AS
SELECT                      t1.Idea_description AS Описание, t1.Upload_date AS [Дата загрузки]
FROM                         dbo.Videomaterial_Usage AS t2 RIGHT OUTER JOIN
                                      dbo.Videomaterial AS t1 ON t2.ID_Videomaterial = t1.ID_Videomaterial
WHERE                       (t2.ID_Editing IS NOT NULL)
GROUP BY              t1.Idea_description, t1.Upload_date
GO
/****** Object:  View [dbo].[UnusedVideomaterials]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UnusedVideomaterials]
AS
SELECT                      t1.Idea_description AS Описание, t1.Upload_date AS [Дата загрузки]
FROM                         dbo.Videomaterial_Usage AS t2 RIGHT OUTER JOIN
                                      dbo.Videomaterial AS t1 ON t2.ID_Videomaterial = t1.ID_Videomaterial
WHERE                       (t2.ID_Editing IS NULL)
GROUP BY              t1.Idea_description, t1.Upload_date
GO
/****** Object:  Table [dbo].[Auth]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auth](
	[userLogin] [varchar](35) NOT NULL,
	[userPassword] [varchar](35) NOT NULL,
	[userPosition] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Creation_Stage]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Creation_Stage](
	[ID_Stage] [smallint] NOT NULL,
	[ID_Videomaterial] [smallint] NULL,
	[Stage_description] [varchar](155) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Stage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Auth] ([userLogin], [userPassword], [userPosition]) VALUES (N'crew1', N'test', N'crew')
INSERT [dbo].[Auth] ([userLogin], [userPassword], [userPosition]) VALUES (N'crew2', N'test1234', N'crew')
INSERT [dbo].[Auth] ([userLogin], [userPassword], [userPosition]) VALUES (N'dir', N'test', N'director')
GO
INSERT [dbo].[Broadcast] ([ID_Broadcast], [ID_Category], [External_Channel], [Playback_date]) VALUES (1, 1, N'SIP Глобал', CAST(N'2024-11-21' AS Date))
INSERT [dbo].[Broadcast] ([ID_Broadcast], [ID_Category], [External_Channel], [Playback_date]) VALUES (2, 5, N'МегаКоннект', CAST(N'2024-09-06' AS Date))
INSERT [dbo].[Broadcast] ([ID_Broadcast], [ID_Category], [External_Channel], [Playback_date]) VALUES (3, 8, N'ТехноКоммуникации', CAST(N'2024-11-14' AS Date))
GO
INSERT [dbo].[Category] ([ID_Category], [Title]) VALUES (1, N'Спортивная')
INSERT [dbo].[Category] ([ID_Category], [Title]) VALUES (2, N'Музыкальная')
INSERT [dbo].[Category] ([ID_Category], [Title]) VALUES (3, N'Образовательная')
GO
INSERT [dbo].[Creation_Stage] ([ID_Stage], [ID_Videomaterial], [Stage_description]) VALUES (1, 1, N'Тщательное планирование маршрута')
INSERT [dbo].[Creation_Stage] ([ID_Stage], [ID_Videomaterial], [Stage_description]) VALUES (2, 2, N'Во время шоу, снимается каждый шаг: от выбора ингредиентов на рынке до процесса готовки в студии, обеспечивая живописные кадры приготовления блюд')
INSERT [dbo].[Creation_Stage] ([ID_Stage], [ID_Videomaterial], [Stage_description]) VALUES (3, 3, N'Анализируется материал, исследуются найденные фильмы и сериалы')
GO
INSERT [dbo].[Event] ([ID_Event], [ID_Broadcast], [ID_Videomaterial], [Start_time], [Playback_duration], [Transition_type], [Recording_source], [Transition_duration], [Delay_duration], [Event_description]) VALUES (1, 1, 1, CAST(N'00:00:00' AS Time), 1512, N'Мягкий', NULL, 7, 0, NULL)
INSERT [dbo].[Event] ([ID_Event], [ID_Broadcast], [ID_Videomaterial], [Start_time], [Playback_duration], [Transition_type], [Recording_source], [Transition_duration], [Delay_duration], [Event_description]) VALUES (2, 1, 1, CAST(N'00:25:12' AS Time), 4788, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Event] ([ID_Event], [ID_Broadcast], [ID_Videomaterial], [Start_time], [Playback_duration], [Transition_type], [Recording_source], [Transition_duration], [Delay_duration], [Event_description]) VALUES (3, 2, 2, CAST(N'00:00:00' AS Time), 5100, NULL, N'Ritmix RDM #1', NULL, NULL, NULL)
GO
INSERT [dbo].[Video_Editing] ([ID_Editing], [Duration], [Framerate], [Author]) VALUES (1, 95, 144, N'Иванов И.П.')
INSERT [dbo].[Video_Editing] ([ID_Editing], [Duration], [Framerate], [Author]) VALUES (2, 85, 60, N'Смирнова О.А.')
INSERT [dbo].[Video_Editing] ([ID_Editing], [Duration], [Framerate], [Author]) VALUES (3, 49, 60, N'Попов Д.В.')
GO
INSERT [dbo].[Videomaterial] ([ID_Videomaterial], [Idea_description], [Upload_date]) VALUES (1, N'Экскурсия по самым известным достопримечательностям', CAST(N'2024-02-03' AS Date))
INSERT [dbo].[Videomaterial] ([ID_Videomaterial], [Idea_description], [Upload_date]) VALUES (2, N'Кулинарное шоу с известными шеф-поварами', CAST(N'2024-04-05' AS Date))
INSERT [dbo].[Videomaterial] ([ID_Videomaterial], [Idea_description], [Upload_date]) VALUES (3, N'Разбор самых популярных фильмов и сериалов', CAST(N'2024-03-12' AS Date))
GO
INSERT [dbo].[Videomaterial_Usage] ([ID_Videomaterial], [ID_Editing]) VALUES (1, 1)
INSERT [dbo].[Videomaterial_Usage] ([ID_Videomaterial], [ID_Editing]) VALUES (1, 9)
INSERT [dbo].[Videomaterial_Usage] ([ID_Videomaterial], [ID_Editing]) VALUES (1, 11)
GO
ALTER TABLE [dbo].[Event] ADD  DEFAULT ((600)) FOR [Playback_duration]
GO
ALTER TABLE [dbo].[Video_Editing] ADD  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[Video_Editing] ADD  DEFAULT ((60)) FOR [Framerate]
GO
ALTER TABLE [dbo].[Broadcast]  WITH CHECK ADD FOREIGN KEY([ID_Category])
REFERENCES [dbo].[Category] ([ID_Category])
GO
ALTER TABLE [dbo].[Creation_Stage]  WITH CHECK ADD FOREIGN KEY([ID_Videomaterial])
REFERENCES [dbo].[Videomaterial] ([ID_Videomaterial])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([ID_Broadcast])
REFERENCES [dbo].[Broadcast] ([ID_Broadcast])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([ID_Videomaterial])
REFERENCES [dbo].[Videomaterial] ([ID_Videomaterial])
GO
ALTER TABLE [dbo].[Videomaterial_Usage]  WITH CHECK ADD FOREIGN KEY([ID_Editing])
REFERENCES [dbo].[Video_Editing] ([ID_Editing])
GO
ALTER TABLE [dbo].[Videomaterial_Usage]  WITH CHECK ADD FOREIGN KEY([ID_Videomaterial])
REFERENCES [dbo].[Videomaterial] ([ID_Videomaterial])
GO
ALTER TABLE [dbo].[Broadcast]  WITH NOCHECK ADD  CONSTRAINT [CK_Broadcast_date] CHECK  (([Playback_date]>=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[Broadcast] CHECK CONSTRAINT [CK_Broadcast_date]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD CHECK  (([Delay_duration]<=(45)))
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD CHECK  (([Playback_duration]<=(86400)))
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD CHECK  (([Transition_duration]<=(45)))
GO
ALTER TABLE [dbo].[Video_Editing]  WITH CHECK ADD CHECK  (([Duration]<=(86400)))
GO
ALTER TABLE [dbo].[Video_Editing]  WITH CHECK ADD CHECK  (([Framerate]<=(360) AND [Framerate]>=(60)))
GO
ALTER TABLE [dbo].[Videomaterial]  WITH CHECK ADD CHECK  (([Upload_date]<=getdate()))
GO
/****** Object:  StoredProcedure [dbo].[AddBaseEvent]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddBaseEvent]
   @broadcastID INT, @videoTitle VARCHAR(300)
AS
BEGIN
	DECLARE @eventID INT
	SELECT @eventID = ID_Event FROM Event WHERE ID_Event=(SELECT max(ID_Event) FROM Event)
	SET @eventID = @eventID + 1

	DECLARE @editingID INT
	SELECT @editingID = ID_Editing FROM Video_Editing WHERE ID_Editing=(SELECT max(ID_Editing) FROM Video_Editing)
	SET @editingID = @editingID + 1

	DECLARE @videoID INT
	SELECT @videoID = ID_Videomaterial FROM Videomaterial WHERE Idea_description = @videoTitle

	INSERT INTO Event(ID_Event, ID_Broadcast, ID_Videomaterial, Start_time, Playback_duration)
	VALUES(@eventID, @broadcastID, @videoID, '00:00:00.0000000', 0)

	INSERT INTO Video_Editing VALUES(@editingID, 0, 60, '')

	INSERT INTO Videomaterial_Usage VALUES(@videoID, @editingID)
END
GO
/****** Object:  StoredProcedure [dbo].[AddNewBroadcast]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddNewBroadcast]
   @broadcast_id INT, @category VARCHAR(70), @channel VARCHAR(100) , @play_date DATE
AS
BEGIN
	DECLARE @categ_id INT
	SELECT @categ_id = ID_Category FROM Category WHERE Title = @category
	INSERT INTO Broadcast VALUES (@broadcast_id, @categ_id, @channel, @play_date)
END
GO
/****** Object:  StoredProcedure [dbo].[AddNewEvent]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddNewEvent]
   @broadcastID INT, @videoID INT, @startTime TIME(7), @duration INT, @transitionType VARCHAR(25), @transitionDuration INT, @transitionDelay INT,
   @description VARCHAR(125), @recSource VARCHAR(35), @eventID INT OUTPUT
AS
BEGIN
	SELECT @eventID = ID_Event FROM Event WHERE ID_Event=(SELECT max(ID_Event) FROM Event)
	SET @eventID = @eventID + 1

	INSERT INTO Event VALUES(@eventID, @broadcastID, @videoID, @startTime, @duration, @transitionType, @recSource, @transitionDuration, @transitionDelay, @description)

	DECLARE @editingID INT
	SELECT @editingID = @broadcastID

	IF NOT EXISTS (SELECT * FROM Videomaterial_Usage WHERE ID_Videomaterial = @videoID)
	BEGIN
		IF NOT EXISTS (SELECT * FROM Video_Editing WHERE ID_Editing = @editingID)
		BEGIN
			INSERT INTO Video_Editing VALUES(@editingID, @duration / 60, 60, '')
		END
		
		INSERT INTO Videomaterial_Usage VALUES(@videoID, @editingID)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[AddStage]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddStage]
  @stage_id INT, @video_id INT, @desc VARCHAR(300) 
AS
BEGIN
	INSERT INTO Creation_Stage VALUES (@stage_id, @video_id, @desc)
END
GO
/****** Object:  StoredProcedure [dbo].[ChangeBroadcast]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ChangeBroadcast]
  @broadcast_id INT, @category VARCHAR(40), @channel VARCHAR(55), @playDate DATETIME, @res VARCHAR(10) OUTPUT
AS
BEGIN
	IF EXISTS (SELECT * FROM Broadcast WHERE ID_Broadcast = @broadcast_id)
	BEGIN
		SET @res = 'GOOD'

		UPDATE Broadcast
		SET ID_Category = (SELECT ID_Category FROM Category WHERE Title = @category),
		External_Channel = @channel, Playback_date = @playDate
		WHERE ID_Broadcast = @broadcast_id
	END
	ELSE
		SET @res = 'BAD'
END
GO
/****** Object:  StoredProcedure [dbo].[ChangeEvent]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ChangeEvent]
  @eventID INT, @startTime TIME(7), @duration INT, @transitionType VARCHAR(25), @transitionDuration INT, @transitionDelay INT,
  @description VARCHAR(125), @recSource VARCHAR(35), @videoID INT, @editingID INT OUTPUT
AS
BEGIN
	DECLARE @oldVideoID INT
	SELECT @oldVideoID = ID_Videomaterial FROM Event WHERE ID_Event = @eventID

	SELECT @editingID = ID_Broadcast FROM Event WHERE ID_Event = @eventID

	UPDATE Event
	SET Start_time = @startTime, Playback_duration = @duration, 
	Transition_type = @transitionType, Transition_duration = @transitionDuration, Delay_duration = @transitionDelay,
	Event_description = @description, Recording_source = @recSource, ID_Videomaterial = @videoID
	WHERE ID_Event = @eventID

	IF EXISTS (SELECT * FROM Videomaterial_Usage WHERE ID_Videomaterial = @oldVideoID)
	BEGIN
		UPDATE Videomaterial_Usage
		SET ID_Videomaterial = @videoID
		WHERE ID_Editing = @editingID
	END
	ELSE
		INSERT INTO Videomaterial_Usage VALUES(@oldVideoID, @editingID)
	-- если есть запись в videomaterial_usage с oldvideoid, то меняем на videoid, иначе добавляем запись с videoid и id_editing
END
GO
/****** Object:  StoredProcedure [dbo].[ChangeUserPassword]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ChangeUserPassword]
  @login VARCHAR(35), @newPassword VARCHAR(35), @res VARCHAR(10) OUTPUT
AS
BEGIN
	IF EXISTS (SELECT * FROM Auth WHERE userLogin = @login)
	BEGIN
		SET @res = 'GOOD'
		UPDATE Auth
		SET userPassword = @newPassword
		WHERE userLogin = @login
	END
	ELSE
		SET @res = 'BAD'
END
GO
/****** Object:  StoredProcedure [dbo].[ChangeUserRole]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ChangeUserRole]
  @login VARCHAR(35), @newRole VARCHAR(35), @res VARCHAR(10) OUTPUT
AS
BEGIN
	IF EXISTS (SELECT * FROM Auth WHERE userLogin = @login)
	BEGIN
		SET @res = 'GOOD'
		UPDATE Auth
		SET userPosition = @newRole
		WHERE userLogin = @login
	END
	ELSE
		SET @res = 'BAD'
END
GO
/****** Object:  StoredProcedure [dbo].[ChangeVideomaterialProps]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ChangeVideomaterialProps]
  @videoTitle  VARCHAR(300), @newFramerate INT, @newAuthor VARCHAR(150)
AS
BEGIN
	DECLARE @videoID INT
	SELECT @videoID = ID_Videomaterial FROM Videomaterial WHERE Idea_description = @videoTitle
	IF EXISTS (SELECT * FROM Videomaterial WHERE ID_Videomaterial = @videoID) AND EXISTS (SELECT * FROM Videomaterial_Usage WHERE ID_Videomaterial = @videoID)
	BEGIN
		UPDATE Video_Editing
		SET Framerate = @newFramerate, Author = @newAuthor
		WHERE ID_Editing = (SELECT ID_Editing FROM Videomaterial_Usage WHERE ID_Videomaterial = @videoID)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[ChangeVideomaterialTitle]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ChangeVideomaterialTitle]
  @video_id INT, @newTitle VARCHAR(200), @res VARCHAR(10) OUTPUT
AS
BEGIN
	IF EXISTS (SELECT * FROM Videomaterial WHERE ID_Videomaterial = @video_id)
	BEGIN
		SET @res = 'GOOD'

		UPDATE Videomaterial
		SET Idea_description = @newTitle
		WHERE ID_Videomaterial = @video_id
	END
	ELSE
		SET @res = 'BAD'
END
GO
/****** Object:  StoredProcedure [dbo].[GetBroadcastAndVideoIDByTitle]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetBroadcastAndVideoIDByTitle]
  @title VARCHAR(200), @video_id INT OUTPUT, @broadcast_id INT OUTPUT
AS
BEGIN
	SELECT @video_id = ID_Videomaterial FROM Videomaterial WHERE Idea_description = @title
	SELECT DISTINCT @broadcast_id = dbo.Broadcast.ID_Broadcast FROM dbo.Broadcast INNER JOIN dbo.Event ON dbo.Broadcast.ID_Broadcast = dbo.Event.ID_Broadcast INNER JOIN  
	dbo.Videomaterial ON dbo.Event.ID_Videomaterial = dbo.Videomaterial.ID_Videomaterial INNER JOIN 
	dbo.Category ON dbo.Broadcast.ID_Category = dbo.Category.ID_Category WHERE dbo.Videomaterial.ID_Videomaterial = @video_id
END
GO
/****** Object:  StoredProcedure [dbo].[GetEventInfo]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetEventInfo]
  @eventID INT, @startTime TIME(7) OUTPUT, @duration INT OUTPUT, @transitionType VARCHAR(25) OUTPUT, 
  @transitionDuration INT OUTPUT, @transitionDelay INT OUTPUT, @description VARCHAR(125) OUTPUT, @recSource VARCHAR(35) OUTPUT
AS
BEGIN
	SELECT @startTime = Start_time FROM Event WHERE ID_Event = @eventID
	SELECT @duration = Playback_duration FROM Event WHERE ID_Event = @eventID
	SELECT @transitionType = Transition_type FROM Event WHERE ID_Event = @eventID
	SELECT @transitionDuration = Transition_duration FROM Event WHERE ID_Event = @eventID
	SELECT @transitionDelay = Delay_duration FROM Event WHERE ID_Event = @eventID
	SELECT @description = Event_description FROM Event WHERE ID_Event = @eventID
	SELECT @recSource = Recording_source FROM Event WHERE ID_Event = @eventID
END
GO
/****** Object:  StoredProcedure [dbo].[GetLastBroadcastId]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetLastBroadcastId]
   @last_id INT OUTPUT
AS
BEGIN
	SELECT @last_id = ID_Broadcast FROM Broadcast WHERE ID_Broadcast=(SELECT max(ID_Broadcast) FROM Broadcast)
END
GO
/****** Object:  StoredProcedure [dbo].[NewUser]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[NewUser]
	@login VARCHAR(35), @password VARCHAR(35), @role VARCHAR(25), @res VARCHAR(10) OUTPUT
AS
BEGIN
	IF NOT EXISTS (SELECT * FROM Auth WHERE userLogin = @login)
	BEGIN
		SET @res = 'GOOD'
		INSERT INTO Auth VALUES (@login, @password, @role)
	END
	ELSE
		SET @res = 'BAD'
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateVideoEditingSumDuration]    Script Date: 21.11.2024 23:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateVideoEditingSumDuration]
  @broadcastID INT, @eventID INT, @editingID INT
AS
BEGIN
	DECLARE @newSum INT
	SELECT @newSum = SUM(Playback_duration) / 60 FROM Event WHERE ID_Broadcast = @broadcastID

	DECLARE @videoID INT
	SELECT @videoID = ID_Videomaterial FROM Event WHERE ID_Event = @eventID

	IF EXISTS (SELECT * FROM Video_Editing WHERE ID_Editing = @editingID)
	BEGIN
		UPDATE Video_Editing
		SET Duration = @newSum
		WHERE ID_Editing = @editingID
	END
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Broadcast"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 137
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Category"
            Begin Extent = 
               Top = 173
               Left = 255
               Bottom = 269
               Right = 429
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 4305
         Alias = 2235
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 2610
         SortOrder = 2835
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BroadcastsPlaybackPlan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BroadcastsPlaybackPlan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Broadcast"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 218
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Category"
            Begin Extent = 
               Top = 26
               Left = 407
               Bottom = 122
               Right = 581
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Director_BroadcastsPlaybackPlan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Director_BroadcastsPlaybackPlan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Event"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 229
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EventView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EventView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Broadcast"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 218
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Category"
            Begin Extent = 
               Top = 6
               Left = 256
               Bottom = 136
               Right = 529
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Manager_BroadcastsPlaybackPlan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Manager_BroadcastsPlaybackPlan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t2"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 216
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t1"
            Begin Extent = 
               Top = 6
               Left = 254
               Bottom = 119
               Right = 432
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 1905
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'UnusedVideomaterials'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'UnusedVideomaterials'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t2"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 151
               Right = 204
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t1"
            Begin Extent = 
               Top = 6
               Left = 254
               Bottom = 171
               Right = 527
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 2535
         Alias = 2745
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'UsedVideomaterials'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'UsedVideomaterials'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Videomaterial"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 156
               Right = 220
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Videomaterial_Usage"
            Begin Extent = 
               Top = 7
               Left = 254
               Bottom = 165
               Right = 432
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Video_Editing"
            Begin Extent = 
               Top = 85
               Left = 571
               Bottom = 215
               Right = 745
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VideoProps'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VideoProps'
GO
USE [master]
GO
